#let there be colour
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias vim=`which nvim` -u ~/.vimrc

alias f="fab -f ~/projects/puppet/fabfile.py"
