[user]
        name = Aleksander Sumowski
	email = aleksander.sumowski@youview.com

[diff]
  indentHeuristic = true


[alias]
   co = checkout
   br = branch
   st = status
   df = diff
   praise = blame
   up = log origin/master..master
   reb = pull --rebase
   l = log --pretty=format:'%Cred[%h]%Creset %Cgreen(%cr) %C(cyan)%an: %Creset %s %C(yellow)%d%Creset' --abbrev-commit --date=relative

[apply]
        whitespace = strip

[pager]
        color = true

[status]
        color = auto
[core]
	editor = vim
[push]
	default = simple
[pull]
	ff = only
	rebase = true
[hub]
	host = github.cldsvcs.com
