[user]
        name = Aleksander Sumowski
	email = a-aleksander.sumowski@rvu.co.uk

[diff]
  indentHeuristic = true
  tool = vimdiff

[alias]
   co = checkout
   br = branch
   st = status
   df = diff
   praise = blame
   up = log origin/master..master
   reb = pull --rebase
   l = log --pretty=format:'%Cred[%h]%Creset %Cgreen(%cr) %C(cyan)%an: %Creset %s %C(yellow)%d%Creset' --abbrev-commit --date=relative
   d = difftool

[apply]
        whitespace = strip

[pager]
        color = true
        diff = diff-so-fancy | less --tabs=1,5 -RFX
        show = diff-so-fancy | less --tabs=1,5 -RFX

[status]
        color = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = simple
[pull]
	ff = only
	rebase = true

[difftool]
	prompt = false
[difftool "vimdiff"]
    trustExitCode = true
